td= server.address
td.centered= server.ip
td.centered= server.status
td.centered= server.desk_check
- if server.uptime_periods > 0
    td.centered= "#{server.uptime * 100 / server.uptime_periods}%"
- else
    td.centered= "0%"
td.centered= server.version
